<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_florest_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>anim_florest_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,192},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>anim_florest_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>anim_florest_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,68},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,60},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,110},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,60},{48,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_frm_collision1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,110},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>coin_frm_collision2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,110},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>coin_frm_collision3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,110},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>coin_frm_collision4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,110},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>shippart_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shippart_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shippart_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shippart_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shippart_frm_collision1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,110},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>shippart_frm_collision2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,110},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shippart_frm_collision3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,110},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>shippart_frm_collision4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,110},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animatedTiles.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00fa509c7bc179d5a43594f643c71c12$</string>
            <key>textureFileName</key>
            <string>animatedTiles.png</string>
        </dict>
    </dict>
</plist>
